/* CSS Reset */
@import url(reset.css);

body {
  background: url(images/pattern-background-desktop.svg) hsl(225, 100%, 94%);
  background-repeat: no-repeat;
}

.container {
  align-items: center;
  border-radius: 1.5rem;
  border: solid none;
  width: 100%;
  width: 375px;
  max-width: max-content;
  margin: 5% auto;
  background-color: white;
}
/* image section */
.head-img {
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}

main {
  padding: 1rem;
  text-align: center;
  border-radius: none;
}

p {
  color: gray;
  font-size: 16px;
}

#order-p {
  padding: 1rem;
}

.plan-cont {
  position: relative;
  page-break-inside: auto;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: auto;
  padding: 0;
}

.plan-container {
  display: flex;
  gap: 1rem;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 0.8rem;
  align-items: center;
}

#cta {
  display: flex;
  padding: 0 2rem;
  text-align: right;
}

.pricing {
  padding: 1rem;
}

.btn {
  display: grid;
  grid-template-columns: none repeat(1 1fr);
  gap: 1.5rem;
  border: none;
  padding: 1.5rem;
  align-items: center;
}

#proceed-btn {
  background-color: hsl(249, 83%, 44%);
  padding: .7rem 3rem;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 0px 5px 3px #4547df;
  text-decoration: none;
}

#cancel-btn {
  background-color: inherit;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  font-size: 16px;
  padding: 0 4rem;
  text-align: center;
  text-decoration: none;
  border: none;
}

/* ===== colors to use------  */
/* - Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

a:hover {
  cursor: pointer;
}
